@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand" , sans-serif;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: black;
    color: #FFF;
}

:root {
    --marginNav: 100px;
    --disFlex: flex;
    --orangeColor: #e4b95b;
}

/*? // header start */
header {
    height: 100vh;
    background: url("./img/home_bg.jpeg") center center/cover no-repeat;
    position: relative;
}

#navbar img {
    width: 80px;
    margin-left: var(--marginNav);
}

#navbar {
    display: var(--disFlex);
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: var(--disFlex);
    margin-right: var(--marginNav);
    list-style: none;
}

#navbar ul li a {
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
}

#navbar ul li a:hover {
    border-bottom: 2px solid var(--orangeColor);
}

header .content {
    display: var(--disFlex);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

header .content h1 {
    color: #fff;
}

header .content p {
    color: #fff;
    margin: 15px 0 35px;
    font-size: 14px;
}

/** Utility Classes */
.primary-text,
#offers .title h2{
    color: var(--orangeColor);
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

.btn-primary,
.btn-secondary {
    color: #fff;
    border: 1px solid #FFF;
}

.btn-secondary {
    background: #383848;
    margin-top: 2rem;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #e4b95b;
}

a {
    text-decoration: none;
}

header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
}

header * {
    z-index: 10;
}
/*? header end \\ */



/*? // About Start */
.contener {
    width: 80%;
    margin: auto;
}

#about {
    height: 90vh;
    display: var(--disFlex);
    background: #f4f4f4;
}

#about .title,
#offers .title,
#menu .title{
    text-align: center;
    margin-bottom: 4rem;
}

#about h2,
#menu h2,
#gallery h2 {
    font-size: 40px;
    color: #383848;
    margin-bottom: 20px;
}

#about .title p, 
#menu .title p {
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600px;
}

#about .about-content {
    display: var(--disFlex);
    justify-content: space-between;
    align-items: center;
}

#about .about-content img {
    width: 450px;
}

#about .about-content p {
    color: #9a9a9a;
    margin-right: 7rem;
    font-weight: 600px;
    line-height: 1.6;
}
/*? About End */




/*? // Offer Start */
#offers {
    height: 80vh;
    background: url('./img/offer-background.jpg') center center/cover fixed;
    color: #f4f4f4;
    display: var(--disFlex);
    justify-content: center;
    align-items: center;
}

#offers .title h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

#offers .title p {
    font-size: 14px;
    font-weight: 600px;
}

#offers .offers-items {
    display: var(--disFlex);
    justify-content: center;
    align-items: center;
    text-align: center;
}


#offers .offers-items img {
    width: 200px;
}

#offers .offers-items h3 {
    font-size: 25px;
    margin: 15px 0;
}

#offers .offers-items p{
    font-size: 14px;
    padding: 0 20px;
    margin: 15px;
}

#offers .offers-items span {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}
/*? Offer End // */



/*? // Menu Start */
#menu {
    background: #f4f4f4;
    padding: 5rem 0;
}

#menu .menu-items,
#menu .menu-item {
    display: var(--disFlex);
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#menu .menu-items .menu-item img {
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

#menu .menu-items .menu-item h3 {
    color: #383848;
    border-bottom: 1px dashed #c2bdbd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

#menu span {
    position: absolute;
    top: 0;
    right: 0;
}

#menu .btn {
    background: #e4b95b;
    color: #fff;
    display: block;
    margin: auto;
    cursor: pointer;
}

#menu .btn:hover {
    background: #383848;
}
/*?  Menu End //*/



/*? // daytime start */
#daytime {
    background: url(./img/daytime_bg.jpeg) center center/cover fixed no-repeat;
    color: #FFF;
    text-align: center;
}

#daytime .daytime-items {
    height: 40vh;
    display: var(--disFlex);
    justify-content: space-evenly;
    align-items: center;
}

#daytime .daytime-items h3 {
    font-size: 32px;
    margin: 20px 0 10px;
}

#daytime .daytime-items p {
    font-weight: 500;
}
/*? daytime end //*/


/*? // Gallery Start */
#gallery {
    background: url(./img/offer-background.jpg) center center/cover fixed no-repeat;
    padding: 8rem 0 6rem;
}

#gallery h2 {
    text-align: center;
    color: #FFF;
}

#gallery .img-gallery {
    display: var(--disFlex);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

#gallery .img-gallery img {
    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: .8;
}

#gallery .img-gallery img:hover
{
    opacity: 1;
}
/*? Gallery End */



/*? // contact start */
#contact {
    padding: 5rem 0;
    color: #9a9a9a;
    margin-left: 250px;
}

#contact .container {
    max-width: 900px;
}

#contact .contact-contact {
    display: var(--disFlex);
    justify-content: space-evenly;
    align-items: center;
}

#contact .contact-info {
    width: 50%;
}

#contact .contact-info div {
    margin: 20px 0;
    line-height: 1.7;
}

#contact .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
}

#contact .contact-info p {
    color: #9a9a9a;
}

#contact .contact-info i {
    color: var(--orangeColor);
    margin-right: 5px;
}

#contact .contact-info a i {
    color: #FFF;
    background-color: #383848;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}

#contact .contact-info a i:hover {
    background: #fff;
    color: #383848;
}

form input,
textarea {
    display: block;
    width: 150%;
    padding: 20px 15px;
    margin: 20px 0;
    background-color: #e3e2dd;
    border: none;
    border-radius: 5px;
}

#contact .btn {
    background-color: #e4b95b;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

#contact .btn:hover {
    background-color: #383848;
}
/*? contact end // */



/*? // footer start */
#footer {
    background-color: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
}

#footer a {
    color: #FFF;
}
/*? footer end // */






/*! Tablet Device */
@media (max-width: 1000px) {
    
    #navbar img {
        margin-left: 20px;
    }

    #navbar ul {
        margin-right: 20px;
    }

    #navbar ul li a {
        padding: 10px;
    }

    header .content h1 {
        font-size: 28px;
    }

    #about {
        height: auto;
        padding: 4rem 2rem;
    }

    #about .about-content p {
        margin-right: 2rem;

    }

    #about img {
        width: 200px;
        display: none;
    }

    #offers .offers-items img {
        width: 150px;
    }

    #offers .offers-items h3 {
        font-size: 18px;
    }

    #menu .menu-items {
        display: block;
    }

    .menu-items .menu-item h3 {
        padding-right: 20px;
    }

    #contact .contact-contact {
        flex-direction: column;
    }

    #contact {
        margin: 0;
    }
    


    /*! Mobile Device */
    @media (max-width: 600px) {
        
        #navbar {
            flex-direction: column;
        }

        #navbar img {
            margin-bottom: 20px;
        }

        header .content h1 {
            font-size: 18px;
        }

        header .content p {
            font-size: 14px;
        }


        #about .about-content {
            flex-direction: column;
        }

        #about .about-content a {
            margin: 2rem 0;
        }

        #about img {
            display: none;
        }

        #offers {
            height: auto;
            padding: 30px 10px;
        }

        #offers .offers-items {
            flex-direction: column;
        }

        #menu {
            margin: 0;
        }

        #menu img {
            width: 50px;
        }

        #menu .menu-items .menu-item {
            margin: 10px 0px;
        }

        .menu-items .menu-item h3 {
            font-size: 15px;
            padding-right: 20px;
        }

        .menu-items .menu-item p {
            font-size: 12px;
        }

        #daytime .daytime-items {
            display: block;
            height: auto;
            padding: 30px 0;
        }

        #daytime .daytime-items .daytime-item {
            margin-top: 20px;
        }

        #contact .contact-info,
        form {
            width: 80%;
        }
    }
}